<div class="alert alert-warning text-center">
    {{ 'You can submit this form again'|trans }} <span id="{{ __SELF__.alias }}FormTimeout" data-seconds="{{ timeout }}"></span>.
</div>

<script>

    (function(){

        let el = document.getElementById('{{ __SELF__.alias }}FormTimeout');
        let seconds = el.dataset.seconds;
        let available = moment().add(seconds, 'seconds'); //Available via fields component
        el.innerHTML = available.fromNow();
    
        let countdown = setInterval(function() {
            seconds--;
            if (seconds > 0) {
                el.innerHTML = available.fromNow();
            } else {
                el.parentElement.remove();
                clearInterval(countdown);
                location.reload();
            }
        }, 1000);
    
    })();

</script>